{% extends '_partials/base.html' %} {% load static %} {% block content %}
{% load custom_tags %}
<section class="pt100">
  <div class="container">
    <header class="crumina-module crumina-heading heading--h2 pt-30 align-center">
      <h2 class="heading-title heading--half-colored">${{ total | floatformat:2 }}</h2>
    </header>
    <div class="row medium-padding-30">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div
          class="mCustomScrollbar scrollable-responsive-table"
          data-mcs-theme="dark"
        >
          <table class="pricing-tables-wrap-table">
            <thead>
              <tr>
                <th>{{ name }} assets<span class="c-primary">.</span></th>
                <th colspan="4">Details<span class="c-primary">.</span></th>
                {% comment %} <th colspan="2">Balance<span class="c-primary">.</span></th> {% endcomment %}
              </tr>
            </thead>
            <tbody>
              {% for  coin, price, balance in data %}
              <tr
                class="crumina-module crumina-pricing-table pricing-table--style-table {% cycle 'c-brown' 'c-blue' 'c-blue-light' 'c-red' 'c-green' 'c-green-light'%} "
              >
                <td>
                  <div class="pricing-thumb">
                    <img
                      src="{% static 'img/logo-primary.png' %}"
                      class="woox-icon"
                      alt="CW-logo"
                    />
                    <h5 class="pricing-title">{{ coin }} <span>USDT</span></h5>
                  </div>
                </td>
                <td>
                  <div class="currency-details-item">
                    <h6 class="title">Price</h6>
                    <h6 class="value">${{ price | floatformat }}</h6>
                  </div>
                </td>
                <td>
                  <div class="currency-details-item">
                    <h6 class="title">Total</h6>
                    <h6 class="value">{{ balance | floatformat:5 }}</h6>
                  </div>
                </td>
                <td>
                  <div class="price">
                    <div class="price-sup-title">Value(USD)</div>
                    <div class="price-value">{% multiply balance price %}</div>
                  </div>
                </td>
                <td>
                  <a
                    href="https://coinmarketcap.com/currencies/{{ coin }}/"
                    class="btn btn--large btn--dark-lighter btn--transparent"
                    >view</a
                  >
                </td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <td colspan="6">
                  NOTE! Ullamcorper sit amet risus nullam. Ac ut consequat
                  semper viverra. Tristique senectus et netus et malesuada fames
                  ac turpis.
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    <hr class="divider" />
  </div>
</section>
{% comment %} <script src="{% static 'js/customjs.js' %}">
</script> {% endcomment %}
{% endblock content %}
