django
django-environ
django-model-utils
django-allauth
django-crispy-forms
crispy-bootstrap5
django-redis
django-celery-beat
djangorestframework
django-cors-headers
drf-spectacular
pytz
python-slugify
Pillow
rcssmin
argon2-cffi
celery
redis
hiredis
ccxt
flower
tronapi
whitenoise
gunicorn
psycopg2
django-anymail
