{% extends './base.html' %}
{% load static %}

{% block content %}
<section class="pt80">
  {% block outsideform %}

  {% endblock outsideform %}

  <div class="container">
    <div class="pt80">
      <div class="mb30" style="width: auto">
        {% block form_actions %}
        <form class="login-form form--dark" method="post" action="">
          {% endblock form_actions %}
          {% csrf_token %}
          <header class="crumina-module crumina-heading heading--h2 heading--with-decoration">
            <h2 class="heading-title">
              {% block  heading %}Form{% endblock heading %}</h2>
              {% block info %}{% endblock info %}
            <p>* All fields are required</p>
          </header>
          {% block form_content %}
          {% endblock form_content %}
          {% block button %}
          <button class="btn btn--large btn--primary btn--with-icon btn--icon-right mt30">
            Submit
            <svg class="woox-icon icon-arrow-right"><use xlink:href="#icon-arrow-right"></use></svg>
          </button>
          {% endblock button %}
        </form>
        {% block extrafields %}

        {% endblock extrafields %}
      </div>
    </div>
  </div>
</section>
<div id="message-container" class="container">
  {% comment %} {% if messages %} {% endcomment %}
  <div class="row medium-padding180">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-sm-offset-0 col-xs-12">
      <div class="widget w-info">
        <div id="message-tag" >{% include '_partials/popups/form_messages.html' %}</div>
      </div>
    </div>
  </div>
  {% comment %} {% endif %} {% endcomment %}
</div>
{% endblock content %}
