{% extends '_partials/form_layout.html' %}
{% load static %}
{% block heading %} Login {% endblock heading %}
{% block form_content %}
          <label for="name" class="input-label">Email <abbr class="required" title="required">*</abbr></label>
          <div class="input-with-icon input-icon--right">
            {{ form.email }}
            <svg class="woox-icon icon-black-male-user-symbol-2"><use xlink:href="#icon-black-male-user-symbol-2"></use></svg>
          </div>
          <label for="password" class="input-label">Password <abbr class="required" title="required">*</abbr></label>
          <div class="input-with-icon input-icon--right">
            {{ form.password }}
            <svg class="woox-icon icon-padlock"><use xlink:href="#icon-padlock"></use></svg>
          </div>
          <div class="forgot-block">
            <div class="checkbox checkbox--style5">
              <label>
                <input type="checkbox" name="optionsCheckboxes10" checked>
                Remember me
              </label>
            </div>
            <a class="link-underlined" href="#">Forgot Password?</a>
          </div>
          {% endblock form_content %}
          {% block button %}
          <button class="btn btn--large btn--primary btn--with-icon btn--icon-right">
            Login
            <svg class="woox-icon icon-arrow-right"><use xlink:href="#icon-arrow-right"></use></svg>
          </button>
          {% endblock button %}
        </form>
        {% block extrafields %}
        <div style="float: right">
          <a class="link-underlined" href="{% url 'users:account_signup' %}">Dont have an account?<br />
            <button class="btn btn--large btn--green-light btn--with-icon btn--icon-right">
              SignUp
              <svg class="woox-icon icon-arrow-right">
                <use xlink:href="#icon-arrow-right"></use>
              </svg>
            </button>
          </a>
        </div>
        {% endblock extrafields %}
