{% extends '_partials/base.html' %} {% load static %} {% block content %}
<div class="main-content-wrapper pt120">
  <section
    data-settings="particles-1"
    class="page-not-found crumina-flying-balls particles-js"
  >
    <div class="container">
      <div class="row">
        <div
          class="col-lg-6 col-lg-offset-3 col-md-12 col-md-offset-0 col-sm-12 col-xs-12"
        >
          <div class="page-not-found-content">
            <a href="{% url 'home' %}" class="site-logo">
              <img src="{% static 'img/logo-primary.png' %}" alt="cryptowillz" />
              <h2 class="heading-title heading--half-colored">CW</h2>
            </a>

            <div class="page-not-found-content-wrap">
              <div class="page-404-thumb">
                <img src="{% static 'img/404.png' %}" alt="404" />
              </div>

              <header
                class="crumina-module crumina-heading heading--h2 heading--with-decoration"
              >
                <h2 class="heading-title heading--half-colored">
                  Oops, this page could not be found
                </h2>
                <div class="heading-text">
                  The page you are looking for might have been removed, had its
                  name changed, or is temporarily unavailable.
                </div>
              </header>

              <a
                href="index.html"
                class="btn btn--large btn--primary btn--transparent btn--with-icon btn--icon-right"
              >
                Go to Homepage
                <svg class="woox-icon icon-arrow-right">
                  <use xlink:href="#icon-arrow-right"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock content%}
