{% load i18n %}
<div class="window-popup pt-100 register-event active">
  <div class="mCustomScrollbar" data-mcs-theme="dark">
    <div class="content">
      <a class="js-open-popup js-body-overlay popup-close" href="#">
        <svg class="woox-icon"><use xlink:href="#icon-info-circle"></use></svg>
      </a>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="widget w--help bg-help">
          <h3 class="title">
            Hello <span class="weight-bold">Chief</span>
          </h3>
          <p class="text">{% blocktranslate with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktranslate %}</p>

          <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
          {% csrf_token %}
              <button class="btn btn--large btn--primary btn--with-icon btn--icon-right mt30" type="submit">
                {% translate 'Confirm' %}
              </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
