{% extends '_partials/base.html' %}
{% load static %}
{% block content %}
<section class="medium-padding120">
  <div class="container">
    <div class="row pb60">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <article class="hentry pt180 post post-standard has-post-thumbnail video">
          <div class="row">
            <div class="col-lg-1">
              <div class="post__date">
                <a href="{{ request.META.HTTP_REFERER }}" class="number">CW</a>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="post-thumb">
                <img src="{% static 'img/post3.jpg' %}" alt="post">
                <div class="overlay overlay-blog"></div>
                <a href="https://www.youtube.com/watch?v=MBdVXkSdhwU" class="video-control video-control-youtube js-popup-iframe">
                  <i class="woox-icon fas fa-play"></i>
                </a>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="post__content">

                <a href="" class="h3 post__title entry-title">How to create an API from your exchange</a>

                <p class="post__text">Felis eget velit aliquet sagittis id consectetur. In mollis nunc sed id semper. Augue mauris augue neque gravida in fermentum et sollicitudin. Amet risus nullam eget felis eget.</p>

                <div class="post-additional-info">
                  <a href="010_news_details.html" class="btn btn--large btn--secondary btn--transparent btn--with-icon btn--icon-right">
                    More guides
                    <svg class="woox-icon icon-arrow-right"><use xlink:href="#icon-arrow-right"></use></svg>
                  </a>
                  <a href="{{ request.META.HTTP_REFERER }}" class="btn btn--large btn--secondary btn--transparent btn--with-icon btn--icon-left">
                    Back
                    <svg class="woox-icon icon-arrow-left"><use xlink:href="#icon-arrow-left"></use></svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
    <hr class="divider">
  </div>
</section>
{% endblock content %}
