<div class="window-popup pt-100 register-event active">
  <div class="mCustomScrollbar" data-mcs-theme="dark">
    <div class="content">
      <a class="js-open-popup js-body-overlay popup-close" href="#">
        <svg class="woox-icon"><use xlink:href="#icon-info-circle"></use></svg>
      </a>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="widget w--help bg-help">
          <h3 class="title">
            Hello <span class="weight-bold">Chief</span>
          </h3>
          <p class="text">This part of the site requires us to verify that
            you are who you claim to be. For this purpose, we require that you
            verify ownership of your e-mail address.</p>

            <p class="text">We have sent an e-mail to you for
            verification. Please click on the link inside this e-mail. Please
            contact us if you do not receive it within a few minutes.</p>

            <p class="text"><strong>Note:</strong> you can still <a href="{{ email_url }}">change your e-mail address</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
